.orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  position: relative;
}

.orderContainer > .productsOrder {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.orderContainer > .towBoxes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  right: 0;
  padding: 2rem 2rem;
}

.orderContainer > .towBoxes > .payment {
  border: 2px solid black;
  background-color: #ffffff;
  width: 30rem;
  height: 25rem;
  margin-right: 2rem;
  float: right;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.orderContainer > .towBoxes > .payment > .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.orderContainer > .towBoxes > .payment > .div > .name {
  padding-left: 2rem;
}

.orderContainer > .towBoxes > .payment > .div > .deliveryToArea {
  padding-left: 2rem;
}

.orderContainer > .towBoxes > .payment > .div > .deliveryArea {
  color: #908e8e;
}

.orderContainer > .towBoxes > .payment > .div > .link-button {
  margin-left: 18%;
  margin-top: 2.5rem;
  width: 17rem;
  padding: 0.6rem;
  background-color: var(--background);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.orderContainer > .towBoxes > .payment > .div > .link-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.orderContainer > .towBoxes > .paymentTwo {
  margin-top: 1rem !important;
  border: 2px solid black;
  background-color: #ffffff;
  width: 30rem;
  height: 15rem !important;
}

.orderContainer > .towBoxes > .paymentTwo > .h2 {
  padding: 0.5rem 2rem;
}

.orderContainer > .towBoxes > .paymentTwo > .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  font-size: large;
}

.orderContainer > .towBoxes > .paymentTwo > .paragraph > p > .span {
  font-size: x-small;
}

.orderContainer > .towBoxes > .paymentTwo > hr {
  width: 85%;
  margin-left: 2rem;
}

.orderContainer > .towBoxes > .paymentTwo > .bt-buyNow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  padding: 0.7rem 6.3rem;
  background-color: var(--accent);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.orderContainer > .towBoxes > .paymentTwo > .bt-buyNow:hover {
  background-color: black !important;
  color: white;
  cursor: pointer;
}

.orderContainer > .towBoxes > .paymentTwo > Form {
  width: 70%;
  height: auto;
  margin-left: 2rem;
}

.orderContainer > .towBoxes > .paymentTwo > h3 {
  margin: 1rem 50%;
}

.myOrders {
  margin-left: 9rem;
  margin-top: 2rem;
}

.scrollingOrder {
  overflow-y: scroll;
  max-height: 75vh;
}

.listGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.listGroup > .cartInfo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  margin-left: 9rem;
}

.listGroup > .cartInfo > .img-Titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem;
}

.listGroup > .cartInfo > .img-Titel > img {
  width: 5rem;
  height: 5rem;
}

.listGroup > .cartInfo > .img-Titel > .titelInfo {
  padding-left: 1rem;
}

.listGroup > .cartInfo > .img-Titel > .titelInfo > p {
  white-space: wrap;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  font-size: medium;
}

.listGroup > .cartInfo > .priceInfo {
  width: 18rem;
  text-align: right;
  padding: 2.5rem;
  font-weight: bolder;
}

.listGroup > .cartInfo > .quantityInfo {
  width: 20rem;
  text-align: right;
  padding: 2.5rem;
  font-weight: bolder;
}

.listGroup > .cartInfo > p {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .orderContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .orderContainer > .productsOrder {
    width: 100%;
  }
  .orderContainer > .towBoxes {
    bottom: 0 !important;
    padding: 0;
    width: 100% !important;
  }
  .orderContainer > .towBoxes > .payment {
    border: 1px solid black;
    width: 100%;
    height: 25rem;
    margin-right: 2rem;
    float: right;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
  }
  .orderContainer > .towBoxes > .payment > .div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }
  .orderContainer > .towBoxes > .payment > .div > .name {
    padding-left: 2rem;
  }
  .orderContainer > .towBoxes > .payment > .div > .deliveryToArea {
    padding-left: 2rem;
  }
  .orderContainer > .towBoxes > .payment > .div > .deliveryArea {
    color: gray;
    margin-bottom: 0;
  }
  .orderContainer > .towBoxes > .payment > .div > .link-button {
    margin-left: 26%;
    width: 10rem;
  }
  .orderContainer > .towBoxes > .paymentTwo {
    margin-top: 1rem !important;
    border: 1px solid black;
    width: 100%;
    height: 13rem !important;
  }
  .orderContainer > .towBoxes > .paymentTwo > .h1 {
    padding: 0.5rem 2rem;
  }
  .orderContainer > .towBoxes > .paymentTwo > .paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
    font-size: large;
  }
  .orderContainer > .towBoxes > .paymentTwo > .paragraph > p > .span {
    font-size: x-small;
  }
  .orderContainer > .towBoxes > .paymentTwo > hr {
    width: 85%;
    margin-left: 2rem;
  }
  .orderContainer > .towBoxes > .paymentTwo > .bt-buyNow {
    margin-left: 27%;
    padding: 0.7rem 3.3rem;
  }
  .orderContainer > .towBoxes > .paymentTwo > .bt-buyNow:hover {
    background-color: black !important;
    color: white;
    cursor: pointer;
  }
  .orderContainer > .towBoxes > .paymentTwo > Form {
    width: 70%;
    height: auto;
    margin-left: 2rem;
  }
  .myOrders {
    margin-left: 8rem;
  }
  .listGroup {
    padding: 1rem;
  }
  .listGroup > .cartInfo {
    width: 100%;
    margin-left: 0.5rem;
  }
  .listGroup > .cartInfo > .img-Titel > img {
    width: 3rem;
    height: 3rem;
  }
  .listGroup > .cartInfo > .img-Titel > .titelInfo {
    padding-left: 1rem;
  }
  .listGroup > .cartInfo > .img-Titel > .titelInfo > p {
    width: 4.5rem;
  }
  .listGroup > .cartInfo > .priceInfo {
    width: 5rem;
    padding: 2rem 0.5rem;
  }
  .listGroup > .cartInfo > .quantityInfo {
    width: 6rem;
    text-align: center;
    padding: 2rem 0.5rem;
  }
}
/*# sourceMappingURL=index.css.map */