.Accaount {
  display: grid;
  min-height: calc(100vh - 5rem);
  width: 100%;
  grid-template-columns: 50% 40% 10%;

  grid-template-areas:
    "order settings logout"
    "footer footer footer";

  > .orderList {
    grid-area: order;
    margin-top: 2rem;
    margin-left: 4rem;
    max-height: 65vh;
  }
  .scrollingAccount {
    overflow-y: scroll;
    max-height: 55vh;
  }

  .listGroupAccount {
    background-color: #ffffff !important;
    display: flex;
    padding: 1rem;

    > .cartInfoAccount {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      width: 85%;

      > .img-TitelAccount {
        display: flex;
        padding: 1rem 1rem;

        > img {
          width: 5rem;
          height: 5rem;
        }

        > .titelInfoAccount {
          padding-left: 1rem;

          > p {
            white-space: wrap;
            width: 10rem;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bolder;
            font-size: small;
          }
        }
      }

      > .priceInfoAccount {
        width: 10rem;
        text-align: right;
        padding: 2.5rem;
        font-weight: bolder;
      }
      > .quantityInfoAccount {
        width: 10rem;
        text-align: right;
        padding: 2.5rem;
        font-weight: bolder;
      }

      > p {
        margin-top: 2rem;
      }
    }
  }
  > .ContactDetail {
    margin: 2rem 2rem;
    grid-area: settings;

    > .firstDiv {
      display: flex;
      flex-direction: column;

      > .contactDetailArea {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        > .nameLabelArea {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          > h5 {
            margin-bottom: 3rem;
            width: 13rem;
          }
        }
        > .uploadArea {
          > .first > .secound > .centerDiv > .foto {
            .text-secondary {
              --bs-text-opacity: 1;
              color: rgba(208, 212, 217, 0.5) !important;
            }
          }
        }
      }

      > .titel {
        width: 20rem;
      }

      > .passwordArea {
        > .passwordArea1 {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: auto;
          margin-top: 1rem;

          > .button-delete-update {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            margin-top: 1rem;

            > .button1,
            .button2 {
              width: 10rem;
              font-size: medium;
              border: 1px solid red;
              color: red;
            }
            > .button1:hover,
            .button2:hover {
              background-color: red;
              color: white;
            }
          }
        }
      }
    }
  }

  > .button-logout {
    grid-area: logout;
    margin-right: 2rem;
  }

  .footerAccount {
    grid-area: footer;
    min-height: 10rem;
    background-color: #111111;
    color: #888888;
    font-size: small;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-family: "Roboto", sans-serif;

    > .footer-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .footer-contact {
      font-size: medium;

      > .footer-icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: large;

        > .footer-icons-instagram {
          color: red;
        }
        > .footer-icons-twitter {
          color: rgb(101, 158, 250);
        }
        > .footer-icons-facebook {
          color: blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Accaount {
    grid-template-columns: 100%;
    grid-template-areas:
      "settings "
      "order "
      "logout"
      "footer";

    > .orderList {
      grid-area: order;
      margin-top: 2rem;
      margin-left: 0.1rem;
    }

    .listGroupAccount {
      display: flex;
      padding: 1rem;
      width: 100% !important;

      > .cartInfoAccount {
        display: flex;
        border: 1px solid black;
        width: 100%;

        > .img-TitelAccount {
          display: flex;
          padding: 1rem 1rem;

          > img {
            width: 3rem;
            height: 3rem;
          }

          > .titelInfoAccount {
            padding-left: 0.8rem;

            > p {
              white-space: wrap;
              width: 5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: bolder;
              font-size: small;
            }
          }
        }

        > .priceInfoAccount {
          width: 5rem;
          padding: 2rem 0;
        }
        > .quantityInfoAccount {
          width: 5rem;
          text-align: center;
          padding: 2rem 0;
        }

        > p {
          margin-top: 2rem;
        }
      }
    }
    > .ContactDetail {
      margin: 2rem 2rem;
      grid-area: settings;

      > .firstDiv {
        display: flex;
        flex-direction: column;

        > .contactDetailArea {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 3rem;

          > .nameLabelArea {
            > h5 {
              margin-bottom: 3rem;
            }
          }
          > .uploadArea {
            > .first > .secound > .centerDiv > .foto {
              margin-left: 6.5rem !important;
            }
            > .first > .secound > .centerDiv > .twoButtons {
              margin-left: 4rem !important;
            }
          }
        }

        > .titel {
          width: 20rem;
        }

        > .passwordArea {
          > .passwordArea1 {
            > .button-delete-update {
              display: flex;
              flex-direction: row;
              gap: 3rem;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    > .button-logout {
      grid-area: logout;
      margin-left: 33%;
      margin-bottom: 1rem;
      margin-top: 4rem;
    }

    .footerAccount {
      grid-area: footer;
      min-height: 10rem;

      font-size: small;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 20px;
      font-family: "Roboto", sans-serif;

      > .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      > .footer-contact {
        font-size: medium;

        > .footer-icons {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          font-size: large;
        }
      }
    }
  }
}
